<div class="video-background">
  <video autoplay loop muted style="background-size: cover !important; ">
    <source src="assets/backvie3.mp4" type="video/mp4">
  </video>
  <div class="overlay">
    <p style="font-size: 70px; font-family: Impact ">YOOGAH</p>
    <p>Counteract the stresses of modern life by becoming more mindful and compassionate</p>
    <div class="classification">
      <p>PLEASE FOLLOW BELOW STEPS :</p>
      <p>1. TAKE AN IMAGE OF USERS PERFORMING YOGA</p>
      <p>2. ADD THE NUMBER OF PERSONS</p>
      <P>3. UPLOAD IT TO THE SYSTEM</P>
      <P>4. GET THE RESULTS AND CLASSIFY YOUR POSE</P>
      <input type="file" (change)="onFileSelected($event)">
      <!--      <button mat-raised-button (click)="openModal()">Open Modal</button>-->
<!--      <button class="btn-start" style="margin-top: 30px; text-align: center" (click)="onSubmit()" >CLASSIFY</button>-->
    </div>
    <button class="btn-start" style="margin-top: 30px; text-align: center" (click)="getbackhome()">BACK HOME</button>
  </div>
</div>
