<div class="background-image-1" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url('assets/backstart.jpg')">
  <h1 class="title-one pt-1">YOOGAH</h1>
  <div class="py-1 text-center" style="color: white">
    <p >Counteract the stresses of modern life by becoming more mindful and compassionate.<br>
      Do Your Own Yoga !
    </p>
  </div>
  <div class="classification">
    <h2 style="color: white">YOGA POSE CLASSIFICATION</h2>
    <p>Practicing yoga poses correctly is important to ensure maximum benefits for both physical and mental health.
       Proper alignment and form of the body in each pose help to prevent injuries and strain on muscles, joints, and ligaments.
       It also ensures that the intended muscles are targeted and worked effectively, leading to improved strength, flexibility, and balance.
       Correct breathing techniques during yoga poses help to reduce stress, calm the mind, and improve concentration.
       Additionally, holding poses correctly and for the recommended duration allows the body to release tension and toxins, leading to a sense of rejuvenation and relaxation.
      Overall, correct yoga poses help to enhance the mind-body connection and promote holistic well-being.</p>
    <div class="icon" style="display: flex; text-align: center">
      <div class="box">
        <img src="assets/bhujcolor.png"   width="150" height="150" alt="Bhuj">
            <h5 style="margin-top: 20px">BHUJASANA</h5>
      </div>
      <div class="box" >
        <img src="assets/padma_color.png"  width="150" height="150" alt="Bhuj">
            <h5 style="margin-top: 20px">PADAMASANA</h5>
      </div>
      <div class="box" >
        <img src="assets/tada_color.png"  width="150" height="150" alt="Bhuj">
            <h5 style="margin-top: 20px">TADASANA</h5>
      </div>
      <div class="box" >
        <img src="assets/tricka.png"  width="150" height="150" alt="Bhuj">
            <h5 style="margin-top: 20px">TRIKASANA</h5>
      </div>
      <div class="box">
        <img src="assets/vriccol.png"  width="150" height="150" alt="Bhuj">
            <h5 style="margin-top: 20px">VRIKASANA</h5>
      </div>
    </div>


    <div style="text-align: center; margin-top: 50px">
      <button class="clasbtn" (click)="classifyVersion()">CLASSIFY POSE</button>
    </div>
  </div>
</div>



<div class="background-image-2" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url('assets/backstart2.jpg')" >
  <h1 class="title-two pt-1">YOOGAH</h1>
  <div class="py-1 text-center" style="color: white">
    <p >Counteract the stresses of modern life by becoming more mindful and compassionate.<br>
      Do Your Own Yoga !
    </p>
    <div class="classification">
      <h3>REAL TIME POSE CLASSIFICATION</h3>
      <P>Real-time pose classification is an important technology that allows users to get real-time feedback on their yoga poses, making it easier to learn and practice yoga at home or in a group setting.
        With real-time pose classification, users can receive immediate feedback on their alignment, posture, and form, allowing them to make corrections in real-time and avoid injury.
        This technology is especially important for beginners who may not have the guidance of an instructor, as it helps them to develop proper form and avoid bad habits.
        In addition, real-time pose classification can help users to track their progress over time and set achievable goals for their yoga practice.</P>

      <div class="icon" style="display: flex; text-align: center">
        <div class="box">
          <img src="assets/tposeoriginal-.png"   width="150" height="150" alt="Bhuj">
          <h5 style="margin-top: 20px">T POSE</h5>
        </div>
        <div class="box" >
          <img src="assets/tree2original-.png"  width="150" height="150" alt="Bhuj">
          <h5 style="margin-top: 20px">TREE POSE</h5>
        </div>
        <div class="box" >
          <img src="assets/warriororiginal-.png"  width="150" height="150" alt="Bhuj">
          <h5 style="margin-top: 20px">WARRIOR POSE</h5>
        </div>
        <div class="box" >
          <img src="assets/warrioriiposeoriginal-.png"  width="150" height="150" alt="Bhuj">
          <h5 style="margin-top: 20px">WARRIOR II POSE</h5>
        </div>
        <div class="box">
          <img src="assets/triangleposeorginal-.png"  width="150" height="150" alt="Bhuj">
          <h5 style="margin-top: 20px">TRIANGLE</h5>
        </div>
      </div>


      <div style="text-align: center; margin-top: 50px">
        <button class="clasbtn" (click)="realclass()">CLASSIFY POSE</button>
      </div>
    </div>
  </div>
</div>



<div class="background-image-1" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url('assets/backstart3.jpg')">
  <h1 class="title-one pt-1">YOOGAH</h1>
  <div class="py-1 text-center" style="color: white">
    <p >Counteract the stresses of modern life by becoming more mindful and compassionate.<br>
      Do Your Own Yoga !
    </p>
  </div>
  <div class="classification">
    <h2 style="color: white">YOGA POSE GUIDANCE</h2>
    <p>Correct guidance for yoga postures is crucial for practicing yoga safely and effectively.
      Yoga is a physical and mental discipline that requires proper alignment and technique to prevent injury and maximize the benefits of the practice.
      Without proper guidance, it is easy to fall into incorrect postures that can cause strain on the body and even lead to long-term injuries.
      Additionally, correct guidance can help individuals deepen their practice and progress towards more challenging poses.
      A skilled yoga instructor can provide adjustments and modifications tailored to each individual's needs, ensuring that they are practicing safely and effectively.
      Overall, correct guidance is essential for anyone looking to practice yoga and reap its many physical and mental benefits.</p>
    <div style="text-align: center; margin-top: 50px">
      <button class="clasbtn" routerLink="home">GUIDE POSE</button>
    </div>
  </div>
</div>






