<div class="background-image-1" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url('assets/backstart.jpg')">
  <h1 class="title-one pt-3">YOOGAH</h1>
  <div class="py-1 text-center" style="color: white">
    <p >Counteract the stresses of modern life by becoming more mindful and compassionate.<br>
      Do Your Own Yoga !
    </p>
  </div>
  <div class="classification">
    <h2 style="color: white">YOGA POSE CLASSIFICATION</h2>
    <p>Practicing yoga poses correctly is important to ensure maximum benefits for both physical and mental health.
       Proper alignment and form of the body in each pose help to prevent injuries and strain on muscles, joints, and ligaments.
       It also ensures that the intended muscles are targeted and worked effectively, leading to improved strength, flexibility, and balance.
       Correct breathing techniques during yoga poses help to reduce stress, calm the mind, and improve concentration.
       Additionally, holding poses correctly and for the recommended duration allows the body to release tension and toxins, leading to a sense of rejuvenation and relaxation.
      Overall, correct yoga poses help to enhance the mind-body connection and promote holistic well-being.</p>
  </div>
</div>
<div class="background-image-2" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url('assets/backstart2.jpg')" >
  <h1 class="title-two pt-5">YOOGAH</h1>
  <div class="py-1 text-center" style="color: white">
    <p >Counteract the stresses of modern life by becoming more mindful and compassionate.<br>
      Do Your Own Yoga !
    </p>
    <!--    <button type="button" class="start" style="text-align: center">Let's Start ></button>-->
  </div>

</div>
