<div class="m-0 p-0">
  <div class="custom-container">
    <div class="custom-card row">
      <div class="col-12 col-md-6 custom-container-left">
        <div class="container">
          <div class="row welcome">
            <img class="logo" src="assets/favicon.png" alt="logo">
            <P style="text-align: center">WELCOME TO YOOGAH !</P>
          </div>
          <!--<div class="row text-center pt-2 ">
            <h1 class="logo"><b>LOGO</b></h1>
          </div>-->
        </div>
      </div>
      <div class="col-12 col-md-6 custom-container-right">
        <div class="p-4 form-container">
          <div class="text-center mb-4 mt-4 mobile-logo d-none">
            <div class="container">
              <div class="row">
                <!--                <img class="logo" src="assets/app_icon.png" alt="logo">-->
              </div>
            </div>
          </div>




          <div class="login-card">
            <h3 class="headings text-center pb-4 " >SIGNUP</h3>
            <form [formGroup]="signUpForm">
              <div class="form-group">
                <input class="form-control custom-input-style ps-3" type="text" name="firstName" id="firstName" [formControlName]="'firstName'" placeholder="First Name">
                <div *ngIf="firstName.invalid && firstName.touched" class="error-message">
                  <div *ngIf="firstName.errors.required" style="color: #F53C56; font-size: 10px">First Name is required !</div>
                </div>
              </div>
              <div class="form-group mt-4">
                <input class="form-control custom-input-style ps-3" type="text" name="lastName" id="lastName" [formControlName]="'lastName'" placeholder="Last Name">
                <div *ngIf="lastName.invalid && lastName.touched" class="error-message">
                  <div *ngIf="lastName.errors.required" style="color: #F53C56; font-size: 10px">Last Name is required !</div>
                </div>
              </div>
              <div class="form-group mt-4">
                <input class="form-control custom-input-style ps-3" type="email" name="email" id="email" [formControlName]="'email'" placeholder="Email">
                <div *ngIf="email.invalid && email.touched" class="error-message">
                  <div *ngIf="email.errors.required" style="color: #F53C56; font-size: 10px">Email is required !</div>
                  <div *ngIf="email.errors.email" style="color: #F53C56; font-size: 10px">Email is invalid !</div>
                </div>
              </div>
              <div class="form-group mt-4">
                <input class="form-control custom-input-style ps-3" type="password" name="password" id="password" [formControlName]="'password'" placeholder="Password">
                <div *ngIf="password.invalid && password.touched" class="error-message">
                  <div *ngIf="password.errors.required" style="color: #F53C56; font-size: 10px">Password is required!</div>
                </div>
              </div>

              <!--              <label class="text-danger ps-3 pt-1" *ngIf="signUpForm.errors?.matching">-->
              <!--                Passwords does not match !-->
              <!--              </label>-->

              <button class="btn-green w-100 mt-4 pt-2 pb-2" (click)="signUp()">Register</button>
<!--              <button class="btn-green w-100 mt-4 pt-2 pb-2">Register</button>-->

            </form>

            <div class="text-center register title-1 m-2" routerLink="/sign-in/sign-in"
                 style="outline: none; cursor: pointer;">
              Already Have an account? Login !
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
