<div class="background-image-1" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url('assets/backstart5.jpg')">
  <h1 class="title-one pt-1">YOOGAH</h1>
  <div class="py-1 text-center" style="color: white">
    <p >Counteract the stresses of modern life by becoming more mindful and compassionate.<br>
      Do Your Own Yoga !
    </p>
  </div>
  <div class="classification">
    <h2 style="color: white">GUIDE YOGA POSES</h2>
    <p>Guiding yoga poses is an essential part of practicing yoga. It helps ensure that the practitioner performs the poses correctly, safely, and with the right alignment.
      The guidance can come from an experienced yoga teacher, a video, or a book. Proper guidance can help prevent injuries, improve flexibility and strength, and deepen the yoga practice.
      It can also enhance the overall experience of yoga by helping the practitioner focus on the breath, develop mindfulness, and achieve a state of relaxation and meditation.
      Moreover, guiding yoga poses can help practitioners advance to more advanced postures as they gain experience, strength, and flexibility.
      Overall, proper guidance is crucial to reaping the full benefits of yoga and minimizing the risk of injury or strain.</p>
    <button class="btn-start" style="margin-top: 30px; text-align: center" (click)="getbackhome()">BACK HOME</button>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
      <div class="image">
        <img src="assets/tposeoriginal-.png" alt="My Image">
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
      <div class="classification2">
        <h2 style="color: white; text-align: center">T POSE</h2>
        <p>T-pose in yoga is a standing yoga posture also known as Tadasana.
          It is the foundation of all standing yoga postures and is considered as one of the simplest asanas.
          In Tadasana, the body stands tall with arms stretched to the sides and palms facing forward, resembling the letter T.
          This pose is often used as a starting point for many other yoga postures and is excellent for improving posture, balance, and concentration.
          Practicing T-pose regularly can help in strengthening the muscles of the legs, hips, abdomen, and back.
          It also helps to improve digestion, respiration, and blood circulation in the body.
          Additionally, T-pose helps to calm the mind and reduce stress, making it an ideal yoga pose for beginners as well as advanced practitioners.</p>
        <p>FOLLOW THESE STEPS:</p>
        <P>1. STAND UP</P>
        <P>2. BOTH THE ARMS SHOULD BE STRAIGHT</P>
        <P>3. EXTEND YOUR HANDS INTO SIDES</P>
        <P>4. BOTH THE LEGS SHOULD BE STRAIGHT</P>
        <button class="clasbtn" (click)="guidePose('TPose',1)" style="text-align: center">GUIDE POSE</button>
      </div>
    </div>
  </div>


  <div class="row" style="margin-top: 50px;">
    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
      <div class="image" style="margin-top: 150px;">
        <img src="assets/tree2original-.png" alt="My Image">
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
      <div class="classification2">
        <h2 style="color: white; text-align: center">TREE POSE</h2>
        <p>The Tree pose, also known as Vrksasana, is a standing yoga posture that helps to improve balance, concentration, and overall body awareness.
          To practice the Tree pose, one stands on one leg and places the sole of the other foot on the inner thigh of the standing leg, while keeping the hips facing forward.
          The arms can be extended overhead or brought to a prayer position at the heart center.
          This pose can be challenging for beginners as it requires stability and focus, but with practice, it can help to build strength in the legs, ankles, and core, as well as improve flexibility in the hips and groin.
          The Tree pose is also said to be beneficial for reducing stress and anxiety, as it encourages a sense of grounding and connection to the earth.</p>
        <p>FOLLOW THESE STEPS:</p>
        <P>1. Begin by standing tall with your feet hip-width apart and your arms by your sides.</P>
        <P>2. Shift your weight onto your left foot and lift your right foot, placing the sole of your right foot on your left inner thigh. Press your foot into your thigh and your thigh back into your foot.</P>
        <P>3. Bring your hands together in front of your heart in a prayer position.</P>
        <P>4. Fix your gaze on a point in front of you to help with balance.
        <P>5. When you feel stable, lift your hands above your head, keeping your palms together. Stretch your arms straight up and lengthen your spine.</P>
        <P>6. Hold the pose for a few deep breaths, then release and repeat on the other side.</P>
        <button class="clasbtn" (click)="guidePose('TreePose',2)" style="text-align: center">GUIDE POSE</button>
      </div>
    </div>
  </div>



  <div class="row" style="margin-top: 50px;">
    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
      <div class="image" style="margin-top: 170px;">
        <img src="assets/warrioriiposeoriginal-.png" alt="My Image">
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
      <div class="classification2">
        <h2 style="color: white; text-align: center">WARRIOR II POSE</h2>
        <p>Warrior 2 pose, also known as Virabhadrasana II, is a standing pose that is commonly practiced in yoga.
          This pose is named after a fierce warrior, Virabhadra, from Hindu mythology.
          The pose involves standing with the feet hip-width apart, with one foot turned outwards and the other foot pointing forward.
          The front knee is bent while the back leg remains straight, and the arms are extended out to the sides at shoulder height.
          This pose strengthens the legs, ankles, and feet while stretching the groin, hips, and shoulders.
          It also helps to improve concentration and balance, and can be beneficial for people with back pain, sciatica, and flat feet.
          Additionally, Warrior 2 pose can help to improve digestion and circulation, and is believed to stimulate the abdominal organs.</p>
        <p>FOLLOW THESE STEPS:</p>
        <P>1. Start by standing at the top of your mat with your feet together.</P>
        <P>2. Take a big step back with your left foot, turning it outwards at a 45-degree angle. Your right foot should be pointing straight ahead.</P>
        <P>3. Raise both arms out to the sides to shoulder height, parallel to the floor, with your palms facing down.</P>
        <P>4. Bend your right knee, bringing it directly above your ankle, and keeping your thigh parallel to the floor.</P>
        <P>5. Turn your head to look out over your right hand.</P>
        <P>6. Hold the pose for several breaths, focusing on maintaining balance and strength in your legs and core.</P>
        <P>7. Release the pose by straightening your right leg and bringing your arms back down to your sides.</P>
        <P>8. Repeat on the other side by stepping back with your right foot and bending your left knee.</P>
        <button class="clasbtn" (click)="guidePose('WarriorIIPose',3)" style="text-align: center">GUIDE POSE</button>
      </div>
    </div>
  </div>



  <div class="row" style="margin-top: 50px;">
    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
      <div class="image" style="margin-top: 150px;">
        <img src="assets/dogposeoriginal-.png" alt="My Image">
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
      <div class="classification2">
        <h2 style="color: white; text-align: center">DOG POSE</h2>
        <p>Downward-facing dog pose, also known as Adho Mukha Svanasana in Sanskrit, is a foundational yoga pose commonly practiced in yoga classes and routines.
          This pose targets multiple areas of the body, including the arms, shoulders, hamstrings, calves, and back.
          To perform the pose, start on your hands and knees and lift your hips up and back, straightening your arms and legs.
          Your body should form an inverted V-shape. Press your hands and feet firmly into the ground, and lengthen through your spine to create space in your body.
          This pose can help to stretch and strengthen the body, increase circulation, and calm the mind. It is often used as a transitional pose between other poses and can be modified for beginners or those with injuries or limitations.</p>
        <p>FOLLOW THESE STEPS:</p>
        <P>1. Begin on your hands and knees with your wrists directly under your shoulders and your knees under your hips.</P>
        <P>2. Spread your fingers wide and press into your palms as you lift your hips up and back.</P>
        <P>3. Straighten your arms and legs as much as possible, keeping a slight bend in your knees if needed.</P>
        <P>4. Press your heels down toward the ground and lift your sit bones up toward the ceiling.</P>
        <P>4. Lengthen your spine and relax your head and neck, allowing them to hang down between your arms.</P>
        <P>5. Hold the pose for several deep breaths, then release and come back to your hands and knees.</P>
        <button class="clasbtn" (click)="guidePose('DogPose',4)" style="text-align: center">GUIDE POSE</button>
      </div>
    </div>
  </div>




  <div class="row" style="margin-top: 50px;">
    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
      <div class="image" style="margin-top: 170px;">
        <img src="assets/warriororiginal-.png" alt="My Image">
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
      <div class="classification2">
        <h2 style="color: white; text-align: center">WARRIOR POSE</h2>
        <p>Warrior pose, or Virabhadrasana in Sanskrit, is a standing yoga pose that is known for building strength, stability, and focus.
          There are three variations of Warrior pose, each building on the previous one with additional challenges for the body and mind.
          The basic Warrior pose, or Warrior I, begins with the feet hip-width apart and one foot stepped back with the toes angled out at a 45-degree angle.
          The front knee is bent, while the back leg is straight with the foot grounded on the floor.
          The arms are raised above the head, with the palms facing each other.
          This pose can help to stretch and strengthen the legs, hips, and arms, while also improving balance and concentration.
          Warrior pose is often incorporated into vinyasa yoga sequences, and can be modified for different levels of experience by adjusting the depth of the bend in the front knee and the height of the arms.</p>
        <p>FOLLOW THESE STEPS:</p>
        <P>1. Start by standing straight with your feet hip-width apart and your arms at your sides.</P>
        <P>2. Take a step forward with your left leg, keeping your right foot in place. Your left foot should be about 3-4 feet away from your right foot.</P>
        <P>3. Turn your right foot out 90 degrees, so your toes are pointing to the right. Your left foot should be pointing straight ahead.</P>
        <P>4. Inhale and raise your arms out to the sides, keeping them parallel to the ground. Your palms should be facing down.</P>
        <P>5. Exhale and bend your left knee, so your thigh is parallel to the ground. Make sure your knee is directly above your ankle and doesn't extend past it.</P>
        <P>6. Turn your head to the left and gaze over your left hand.</P>
        <P>7. Hold the pose for 30 seconds to a minute, then release by straightening your left leg and lowering your arms.</P>
        <P>8. Repeat the pose on the other side by stepping your right foot forward and turning your left foot out.</P>
        <button class="clasbtn" (click)="guidePose('WarriorPose',5)" style="text-align: center">GUIDE POSE</button>
      </div>
    </div>
  </div>





  <div class="row" style="margin-top: 50px;">
    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
      <div class="image">
        <img src="assets/triangleposeorginal-.png" alt="My Image">
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
      <div class="classification2">
        <h2 style="color: white; text-align: center">TRIANGLE POSE</h2>
        <p>Triangle pose, also known as Trikonasana, is a standing yoga posture that helps to stretch and strengthen the entire body.
          In this pose, the legs are spread apart with one foot turned outwards and the other foot facing forward.
          The torso is then extended to the side, with one arm reaching up towards the sky and the other arm reaching down towards the ground.
          The gaze can be directed towards the raised hand or towards the front hand, depending on the level of comfort.</p>
        <p>FOLLOW THESE STEPS:</p>
        <P>1. Stand straight on your mat, and step your feet wide apart, around 3-4 feet, with your arms at your sides.</P>
        <P>2. Turn your right foot out 90 degrees, and your left foot in slightly towards your right foot. Align your heels with each other.</P>
        <P>3. Inhale and raise your arms out to the sides, so they are parallel to the floor, palms facing down.</P>
        <P>4. Exhale and reach out to the right with your right hand, tilting your torso to the right, as if you're trying to touch your right foot.</P>
        <P>5. Rotate your torso to the left, keeping your arms in a straight line, and gaze up towards your left hand.</P>
        <P>6. Hold the pose for a few breaths, feeling the stretch along your right side.</P>
        <P>7. Inhale and come back up to a standing position, with your arms out to the sides.</P>
        <P>8. Repeat the same steps on the other side, turning your left foot out and tilting your torso to the left.</P>
        <P>9. Repeat the pose a few times on each side, focusing on your breath and maintaining your balance throughout the pose.</P>
        <button class="clasbtn" (click)="guidePose('TrianglePose',6)" style="text-align: center">GUIDE POSE</button>
      </div>
    </div>
  </div>



</div>
