<div class="m-0 p-0">
  <div class="custom-container">
    <div class="custom-card row">
      <div class="col-12 col-md-6 custom-container-left">
        <div class="container">
          <div class="row welcome">
            <img class="logo" src="assets/favicon.png" alt="logo">
            <P style="text-align: center">WELCOME TO YOOGAH !</P>
          </div>
          <!--<div class="row text-center pt-2 ">
            <h1 class="logo"><b>LOGO</b></h1>
          </div>-->
        </div>
      </div>
      <div class="col-12 col-md-6 custom-container-right">
        <div class="p-4 form-container">
          <div class="text-center mb-4 mt-4 mobile-logo d-none">
            <div class="container">
              <div class="row">
<!--                <img class="logo" src="assets/app_icon.png" alt="logo">-->
              </div>
            </div>
          </div>



          <div class="login-card">
            <div>
              <h3 class="headings text-center pb-4 " >LOGIN</h3>
              <form [formGroup]="signInForm">
                <div class="form-group">
                  <input class="form-control ps-3 custom-input-style" type="email" name="email" id="email" [formControlName]="'email'" autocomplete="new-email"
                         placeholder="Username">
                  <div *ngIf="email.invalid && email.touched" class="error-message">
                    <div *ngIf="email.errors.required" style="color: #F53C56; font-size: 10px">Username is required !</div>
                    <div *ngIf="email.errors.email" style="color: #F53C56; font-size: 10px">Email is invalid !</div>
                  </div>
                </div>

                <div class="form-group mt-4">
                  <input class="form-control ps-3 custom-input-style" type="password" name="password" id="password" [formControlName]="'password'" autocomplete="new-password"
                         placeholder="Password">
                  <div *ngIf="password.invalid && password.touched" class="error-message">
                    <div *ngIf="password.errors.required" style="color: #F53C56; font-size: 10px">Password is required!</div>
                  </div>
                </div>

                <button class="btn-green w-100 mt-4 pt-2 pb-2" (click)="signIn()">Signin</button>
<!--                              <button class="btn-green w-100 mt-4 pt-1 pb-1">Login</button>-->


                <div class="text-center register title-1 m-2" routerLink="/sign-in/sign-up"
                     style="outline: none; cursor: pointer;">
                  Don't Have an account? Register !
                </div>
              </form>

<!--              <p class="register text-center pt-3">-->
<!--                <span routerLink="/sign-up">Dont have an account? Register</span> <br>-->
<!--              </p>-->

            </div>

          </div>



        </div>
      </div>
    </div>
  </div>
</div>
