
<!-- Button trigger modal -->
<button style="display: none" #modal type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
  Launch demo modal
</button>
<div class="video-background">
  <video autoplay loop muted style="background-size: cover !important; ">
    <source src="assets/backvie2.mp4" type="video/mp4">
  </video>
  <div class="overlay">
    <p style="font-size: 70px; font-family: Impact ">YOOGAH</p>
    <p>Counteract the stresses of modern life by becoming more mindful and compassionate</p>
    <div class="classification">
      <p>PLEASE FOLLOW BELOW STEPS :</p>
      <p>1. RECORD A VIDEO OF USER PERFORMING YOGA</p>
      <P>2. UPLOAD IT TO THE SYSTEM</P>
      <P>3. GET THE RESULTS AND CLASSIFY YOUR POSE</P>
      <P style="text-align: center; margin-top: 40px">UPLOAD HERE</P>
      <input type="file" (change)="onFileSelected($event)">
<!--      <button mat-raised-button (click)="openModal()">Open Modal</button>-->


      <button class="btn-start" style="margin-top: 30px; text-align: center" (click)="onSubmit(modal)" >CLASSIFY</button>
    </div>
    <button class="btn-start" style="margin-top: 30px; text-align: center" (click)="getbackhome()">BACK HOME</button>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Classification Results</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
<!--          <span>{{label}}</span>-->
          <div style="border-radius: 10px; text-align: center;" [ngStyle]="{'background-color': getStatusColor(label)}">{{label}}</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>
